﻿
@model ShoppingSite.Models.CategoryModel
@{
	ViewBag.Title = "Delete category";
	Layout = ViewBag.LayoutFile ?? Layout;
}

<div class="page-header">
	<h2>Delete category</h2>
</div>
<h3>Are you sure you want to delete this?</h3>
<div class="row">
	<div class="col-md-10 ">
		<div class="row">
			@Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "col-md-2" })
			<div class="col-md-6">
				@Html.DisplayFor(Model => Model.CategoryID)
			</div>
			<div class="col-md-4">
				<!-- To hold the layout -->
			</div>
		</div>

		<div class="row">
			@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "col-md-2" })
			<div class="col-md-6">
				@Html.DisplayFor(Model => Model.CategoryName)
			</div>
			<div class="col-md-4">
				<!-- To hold the layout -->
			</div>
		</div>

		<div class="row">
			@{
				decimal itemsPerTab = 10;
				decimal subcategoriesCount = Model.SubCategories.Count;
				ShoppingSite.Models.SubCategoryModel[] subcategories = Model.SubCategories.ToArray();
				decimal numberOfTabs = decimal.Ceiling(subcategoriesCount / itemsPerTab);
			}
			@Html.Label("Subcategories", "Subcategories", htmlAttributes: new { @class = "col-md-2" })

			<div class="col-md-6">
				<div id="tabs">
					<ul>
						@for(ushort tab = 1; tab <= numberOfTabs; tab++) {
							<li><a href="#tabs-@tab">Page: @tab</a></li>
						}
					</ul>
					@for(ushort tab = 0; tab < numberOfTabs; tab++) {
						<div id="tabs-@tab">
							<ul>
								@for(ushort item = 0; item < itemsPerTab && (subcategoriesCount > ((tab * itemsPerTab) + item)); item++) {
									<li>@subcategories[decimal.ToInt16((tab * itemsPerTab) + item)].SubCategoryName</li>
								}
							</ul>
						</div>
					}
				</div> <!-- tabs -->
			</div>
			<div class="col-md-4">
				<!-- To hold the layout -->
			</div>
		</div> <!-- row -->

		@using(Html.BeginForm("Delete", "Categories", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" })) {
			@Html.AntiForgeryToken()
			@Html.HiddenFor(model => model.CategoryID)

			<div class="btn-group">
				@Html.ActionLink("Back to Index", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
				<button type="submit" class="btn btn-primary">Delete</button>
			</div>
		}

	</div> <!-- left column -->
	<div class="col-md-2">
		<img src="@Html.DisplayFor(Model => Model.Logo)" alt="@Model.CategoryName" style="max-height: 100%; max-width:100%; border: 1px solid;" />
	</div> <!-- right column -->
</div> <!-- row -->

@section scripts{
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
		});
	</script>
}
