@model ShoppingSite.Models.CategoryModel

@{
	ViewBag.Title = "Delete category";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<h2>Delete category</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>CategoryModel</h4>
	<hr />
	@Html.DisplayNameFor(model => model.CategoryName)
	@Html.DisplayFor(model => model.CategoryName)
	<br />
	@Html.DisplayNameFor(model => model.Logo)
	@Html.DisplayFor(model => model.Logo)
	<br />

	@using(Html.BeginForm()) {
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.CategoryID)
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>

TODO - Add sub categories <br />