@model ShoppingSite.Models.CategoryModel

@{
	ViewBag.Title = "Category details";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<div class="col-md-12 debug-border">
	<h2>Category details</h2>
	<hr />
</div>

<div class="container debug-border">
	<div class="col-md-10 debug-border">
		<div class="row debug-border">
			@Html.DisplayNameFor(Model => Model.CategoryID) :
			@Html.DisplayFor(Model => Model.CategoryID)
		</div> <!-- row -->
		<div class="row debug-border">
			@Html.DisplayNameFor(Model => Model.CategoryName) :
			@Html.DisplayFor(Model => Model.CategoryName)
		</div> <!-- row -->

		<div class="row debug-border">
			@{
				decimal itemsPerTab = 10;
				decimal subcategoriesCount = Model.SubCategories.Count;
				ShoppingSite.Models.SubCategoryModel[] subcategories = Model.SubCategories.ToArray();
				decimal numberOfTabs = decimal.Ceiling(subcategoriesCount / itemsPerTab);
			}
			Subcategories: <br />
			<div id="tabs">
				<ul>
					@for(ushort tab = 1; tab <= numberOfTabs; tab++) {
						<li><a href="#tabs-@tab">Page: @tab</a></li>
					}
				</ul>
				@for(ushort tab = 0; tab < numberOfTabs; tab++) {
					<div id="tabs-@tab">
						<ul>
							@for(ushort item = 0; item < itemsPerTab && (subcategoriesCount > ((tab * itemsPerTab) + item)); item++) {
								<li>@subcategories[decimal.ToInt16((tab * itemsPerTab) + item)].SubCategoryName</li>
							}
						</ul>
					</div>
				}
			</div> <!-- tabs -->
		</div> <!-- row -->
	</div> <!-- left column -->

	<div class="col-md-2 debug-border">
		<img src=@Html.DisplayFor(Model => Model.Logo) alt="@Model.CategoryName" style="max-height: 100%; max-width:100%; border: 1px solid;" />
	</div> <!-- right column -->

</div> <!-- container -->

<div class="col-md-12 debug-border">
	@Html.ActionLink("Delete", "Delete", new { CategoryID = Model.CategoryID }) |
	@Html.ActionLink("Edit", "Edit", new { CategoryID = Model.CategoryID }) |
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
	<script type="text/javascript">
		$(function () {
			$("#tabs").tabs();
		});
	</script>
}