@model ShoppingSite.Models.CategoryModel
@{
	ViewBag.Title = "Edit category";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}
<h2>Edit category</h2>
@using(Html.BeginForm("Edit", "Categories", FormMethod.Post)) {
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>CategoryModel</h4>
		<hr />
		@Html.ValidationSummary(false, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.CategoryID)
		<div class="form-group">
			@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @value = Model.CategoryName } })
				@Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
				<span class="glyphicon glyphicon-ok" aria-hidden="true" style="display: none;"></span>
				<span class="glyphicon glyphicon-remove" aria-hidden="false" style="display: none;"></span>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control", @value = Model.Logo } })
				@Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>
	</div>
}
<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/CheckAvailability.js")

	<script type="text/javascript">
		$("#CategoryName").on("input", {
			url: "@Url.Action("CheckAvailability", "Categories")",
			id: $("#CategoryID").val(),
			name: "CategoryName"
		}, CheckAvailability);
	</script>
}
