﻿@model ShoppingSite.Models.CategoryModel
@{
	ViewBag.Title = "Edit category";
	Layout = ViewBag.LayoutFile ?? Layout;
}

<div class="page-header">
	<h2>Edit category</h2>
</div>
<div class="row">
	<div class="col-md-10 ">
		@* BeginForm(string actionName, string controllerName, FormMethod method) *@
		@using(Html.BeginForm("Edit", "Categories", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" })) {
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.CategoryID)

			<div class="form-group row">
				@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "col-md-2 col-form-label" })
				<div class="col-md-6">
					@Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.CategoryName), @oninput = "checkAvailability('" + Url.Action("CheckAvailability", "Categories") + "', "+ Model.CategoryID + ", 'CategoryName')" } })
					@Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
				</div>
				<div class="col-md-4">
					<span id="glyphiconOK" class="glyphicon glyphicon-ok" style="display: none; color: #28A828; margin: 10px 0px;"></span>
					<span id="glyphiconRem" class="glyphicon glyphicon-remove" style="display: none; color: #D8000C; background-color: #FFBABA; border: 1px solid; margin: 0px 0px; padding: 10px 0px 10px 5px;">Category already exists.</span>
				</div>
			</div>

			<div class="form-group row">
				@Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "col-md-2 col-form-label" })
				<div class="col-md-6">
					@Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.Logo) } })
					@Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                    <br/>
                    <img src="@Html.DisplayFor(Model => Model.Logo)" alt="@Model.CategoryName" style="max-height: 30%; max-width:30%; border: 0px solid;" />
				</div>
				<div class="col-md-4">
					<!-- To hold the layout -->
				</div>
			</div>

			<div class="btn-group">
				@Html.ActionLink("Back to Index", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
				<button id="submitButton" type="submit" class="btn btn-primary">Edit</button>				
			</div>

		}
	</div> <!-- left column -->
	<div class="col-md-2">
		@*<img src="@Html.DisplayFor(Model => Model.Logo)" alt="@Model.CategoryName" style="max-height: 100%; max-width:100%; border: 1px solid;" />*@
	</div> <!-- right column -->
</div> <!-- row -->

@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/TypeScript/CheckAvail.js")

<script type="text/javascript">
		$("form").on("submit", function(e) {

			defaultIMG.call($("#Logo").get());
		});
</script>
<script type="text/javascript">
	$("#Logo").on("change", defaultIMG);

	function defaultIMG() {
		var defaultImg = "@ViewBag.DefaultIMG";
		if($(this).val().length == 0) {
			$(this).val(defaultImg);
		}
	}
</script>
}
