
@model IEnumerable<ShoppingSite.Models.CategoryModel>

@{
	ViewBag.Title = "Index";
	Layout = ViewBag.LayoutFile ?? Layout;
}

<div class="page-header">
	<h2>Categories Index</h2>
</div>

@* BeginForm(string actionName, string controllerName, FormMethod method) *@
@using(Html.BeginForm("Search", "Categories", FormMethod.Post, htmlAttributes: new { @class = "form-inline" })) {
	<div class="form-group">
		<input type="search" id="CategoryName" name="CategoryName" class="form-control" value="@ViewBag.SearchString" placeholder="Category name" path="@Url.Action("TypeSearch", "Categories")" autocomplete="on" required />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Search</button>
	</div>
		<div class="form-group">
			<span class="text-danger">@ViewBag.NotFoundError</span>
		</div>
}
<br/>
<div class="btn-group">
	@Html.ActionLink("Create Category", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</div>
<br /><br />
<table class="table table-striped">

		<tr>
			<th>@Html.DisplayNameFor(model => model.Logo)</th>
			<th>@Html.DisplayNameFor(model => model.CategoryID)</th>
			<th>@Html.DisplayNameFor(model => model.CategoryName)</th>
			<th>Number of SubCategories</th>
			<th>Actions</th>
		</tr>


	@foreach(var item in Model) {
		<tr>
			<td><img src=@Html.DisplayFor(modelItem => item.Logo) alt="@item.CategoryName" style="max-height: 50px;  max-width: 150px;" /></td>
			<td>@Html.DisplayFor(modelItem => item.CategoryID)</td>
			<td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
			<td>@item.SubCategories.Count</td>
			<td>
				@* Html.ActionLink(Link text, Controller Action, Action parameters) *@
				<div class="btn-group">
					@Html.ActionLink("Edit", "Edit", new { CategoryID = item.CategoryID }, htmlAttributes: new { @class = "btn btn-default" })
					@Html.ActionLink("Details", "Details", new { CategoryID = item.CategoryID }, htmlAttributes: new { @class = "btn btn-default" })
					@Html.ActionLink("Delete", "Delete", new { CategoryID = item.CategoryID }, htmlAttributes: new { @class = "btn btn-default" })
				</div>
			</td>
		</tr>
	}

</table>

@section scripts{
	@Scripts.Render("~/Scripts/AutoCompleteTypeSearch.js")
	<script type="text/javascript">
		$("#CategoryName").on("input", typeSearch);
	</script>
}
