﻿
@model ShoppingSite.Models.CartViewModel
@{
    ViewBag.Title = "View Cart";
    Layout = ViewBag.LayoutFile ?? Layout;
}
<h3>Hello @Model.User.FirstName</h3>

<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Cover</th>
            <th>SKU</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Discount</th> @* (100 - Discount) / 100  *@
            <th>Quantity</th>
            <th>Total price</th>
            <th>Remove</th>
        </tr>
    </thead>
    @foreach (ShoppingSite.Models.CartItemModel cim in Model.CartItems) {
        <tr>
            <td>
                @* Cover *@
                <img src=@Html.DisplayFor(item => cim.Product.CoverPath) alt="@cim.Product.CoverPath" style="max-height: 50px;  max-width: 150px;" />
            </td>
            <td>
                @* SKU *@
                @Html.DisplayFor(item => cim.Product.SKU)
            </td>
            <td>
                @* Name *@
                @Html.DisplayFor(item => cim.Product.ProductName)
            </td>
            <td>
                @* Price *@
                @Html.DisplayFor(item => cim.Product.Price)
            </td>
            <td>
                @* Discount *@
                @Model.CartItemsSales[cim].Discount.ToString("0")%
            </td>

            <td>
                @* Quantity *@
                @using (Html.BeginForm("Update", "Cart", FormMethod.Post)) {
                    @Html.Hidden("SKU", cim.Product.SKU)
                    <select id="Quantity" name="Quantity">
                        @for (int i = 1; i <= 100; i++) {
                            if (cim.Quantity == i) {
                                <option value="@i" selected>@i</option>
                            } else {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                }

            </td>
            <td>
                @* Total *@
                @((cim.Product.Price * ((100 - Model.CartItemsSales[cim].Discount) / 100) * cim.Quantity).ToString("0.00"))
            </td>
            <td>
                @* Remove*@
                @using (Html.BeginForm("Update", "Cart", FormMethod.Post)) {
                    @Html.Hidden("SKU", cim.Product.SKU)
                    @Html.Hidden("Quantity", "0")
                    <span class="glyphicon glyphicon-remove" name="remover" style="color: red;"></span>
                }
            </td>
        </tr>    }
</table>


    <div class="col-md-12 text-right"><h4>Total price : @Model.TotalPrice.ToString("0.00")</h4></div>


<div class="btn-group">



    @using (Html.BeginForm("Clear", "Cart", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" })) {
        <button type="submit" class="btn btn-primary">Clear Cart</button>
        <button type="submit" formaction="@Url.Action("Checkout", "Cart")" class="btn btn-primary">Checkout</button>
    }
</div>




@section scripts{
    <script type="text/javascript">
        $("span[name='remover']").on("click", function () {
            $(this).closest("form").submit();
        });
        $("select[name='Quantity']").on("change", function () {
            $(this).closest("form").submit();
        })
    </script>
}