@model ShoppingSite.Models.BrandBrowseViewModel

<section>
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>SubCategories</h2>
					<div class="panel-group category-products" id="accordian">
						<!--Sub category-list-->

						@foreach(var subCat in Model.SubCategories) {
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="@Url.Action("BrowseByIDFromBrand", "SubCategories",new { SubCategoryID = subCat.SubCategoryID, BrandID = Model.Brand.BrandID })">@subCat.SubCategoryName</a></h4>
								</div>
							</div>
						}

					</div><!--/Sub category-list-->
				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="row">
					<h2 class="title text-center">Featured Items</h2>
				</div>
				@{
					int maxRows = ViewBag.MaxRows ?? 4;
					int maxCols = ViewBag.MaxCols ?? 4;
					IEnumerator<ShoppingSite.Models.ProductModel> productPage = Model.FeaturedProducts.GetEnumerator();
				}
				@for(int i = 0; i < maxRows; i++) {
					<div class="row">
						@for(int j = 0; j < maxCols; j++) {
							<div class="col-sm-3 product-image-wrapper single-products productinfo text-center">
								@if(productPage.MoveNext()) {
									<img src=@productPage.Current.CoverPath alt=@productPage.Current.ProductName style="max-height: 100px;  max-width: 100px;" />
									<h2>@productPage.Current.Price</h2>
									<p>@productPage.Current.ProductName</p>
									using(Html.BeginForm("Add", "Cart", FormMethod.Post)) {
										@Html.Hidden("SKU", productPage.Current.SKU)
										@Html.Hidden("Quantity", 1)
										<button type="submit" class="btn btn-default">Add to cart</button>
									}
								}
							</div>
						}
					</div>
				}
			</div>
		</div>
</section>
