@model ShoppingSite.Models.BrandModel

@{
	ViewBag.Title = "Create brand";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<h2>Create brand</h2>

@using(Html.BeginForm("Create", "Brands", FormMethod.Post)) {
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<h4>BrandModel</h4>
		<hr />
		@Html.ValidationSummary(false, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
				<span class="glyphicon glyphicon-ok" aria-hidden="true" style="display: none;"></span>
				<span class="glyphicon glyphicon-remove" aria-hidden="false" style="display: none;"></span>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.FoundationYear, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.FoundationYear, new { @type = "number", @min = "1800", @step = "1", @max = "2030" })
				@Html.ValidationMessageFor(model => model.FoundationYear, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/CheckAvailability.js")

	<script type="text/javascript">
		$("document").ready(function () {
			$("#FoundationYear").val(new Date().getFullYear());
		});
	</script>

	<script type="text/javascript">
		$("#BrandName").on("input", {
			url: "@Url.Action("CheckAvailability", "Brands")",
			id: -1,
			name: "BrandName"
		}, CheckAvailability);
	</script>
}
