@model ShoppingSite.Models.BrandModel

@{
	ViewBag.Title = "Delete brand";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<h2>Delete brand</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>BrandModel</h4>
	<hr />
	@Html.DisplayNameFor(model => model.BrandName)
	@Html.DisplayFor(model => model.BrandName)
	<br />
	@Html.DisplayNameFor(model => model.Logo)
	@Html.DisplayFor(model => model.Logo)
	<br />
	@Html.DisplayNameFor(model => model.Country)
	@Html.DisplayFor(model => model.Country)
	<br />
	@Html.DisplayNameFor(model => model.Description)
	@Html.DisplayFor(model => model.Description)
	<br />
	@Html.DisplayNameFor(model => model.FoundationYear)
	@Html.DisplayFor(model => model.FoundationYear)

	@using(Html.BeginForm()) {
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.BrandID)
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>

TODO - Add brand products <br/>