@model ShoppingSite.Models.BrandModel

@{
	ViewBag.Title = "Brand details";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<h2>Brand details</h2>

<div>
	<h4>BrandModel</h4>
	<hr />
	@Html.DisplayNameFor(model => model.BrandName)
	@Html.DisplayFor(model => model.BrandName)
	<br />
	@Html.DisplayNameFor(model => model.Logo)
	@Html.DisplayFor(model => model.Logo)
	<br />
	@Html.DisplayNameFor(model => model.Country)
	@Html.DisplayFor(model => model.Country)
	<br />
	@Html.DisplayNameFor(model => model.Description)
	@Html.DisplayFor(model => model.Description)
	<br />
	@Html.DisplayNameFor(model => model.FoundationYear)
	@Html.DisplayFor(model => model.FoundationYear.Year)
</div>

@Html.ActionLink("Delete", "Delete", new { BrandID = Model.BrandID }) |
@Html.ActionLink("Edit", "Edit", new { BrandID = Model.BrandID }) |
@Html.ActionLink("Back to List", "Index")

TODO - Add brand products <br />