@model ShoppingSite.Models.BrandModel
@{
    ViewBag.Title = "Brand details";
    Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}
<div class="page-header">
    <h2>Brand details</h2>
</div>
<div class="row">
    <div class="col-md-12 ">
        <div class="row">
            @Html.LabelFor(model => model.BrandID, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(Model => Model.BrandID)
            </div>

        </div>

        <div class="row">
            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(Model => Model.BrandName)
            </div>

        </div>
        <div class="row">
            @Html.Label("Logo:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Html.DisplayFor(Model => Model.Logo)" alt="@Model.BrandName" style="max-height: 200px; max-width:200px; border: 0px solid;" />
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(Model => Model.Country)
            </div>

        </div>
        <div class="row">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(Model => Model.Description)
            </div>

        </div>
        <div class="row">
            @Html.LabelFor(model => model.FoundationYear, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(Model => Model.FoundationYear, "{0:yyyy}")
            </div>

        </div>
        <div class="row">
 
      
            @{ShoppingSite.Models.ProductModel[] products = Model.Products.ToArray();
            }
            @Html.Label("Products", "Products", htmlAttributes: new { @class = "col-md-2" })

            <div class="col-md-10">
                <ul>
                    @for (int item = 0; item < products.Count(); item++) {
                        <li>@products[item].ProductName</li>
                    }
                </ul>
            </div>

       
        </div> <!-- row -->

        <div class="btn-group">
            @Html.ActionLink("Back to Index", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", new { BrandID = Model.BrandID }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Edit", "Edit", new { BrandID = Model.BrandID }, htmlAttributes: new { @class = "btn btn-default" })
        </div>

    </div> <!-- left column -->


</div> <!-- row -->


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}
