@model IEnumerable<ShoppingSite.Models.BrandModel>
@{
	ViewBag.Title = "Index";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<div class="page-header">
    <h2>Brands Index</h2>
</div>


	@using(Html.BeginForm("Search", "Brands", FormMethod.Post)) {
		<div class="form-inline">
			<div class="form-group">
				<input type="search" id="BrandName" name="BrandName" class="form-control" value="@ViewBag.SearchString" placeholder="Brand name" path="@Url.Action("TypeSearch", "Brands")" autocomplete="on" required />
			</div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
			<div class="form-group">
				<span class="text-danger">@ViewBag.NotFoundError</span>
			</div>
		</div>
	}


<br />
<div class="btn-group">
    @Html.ActionLink("Create Brand", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</div>
<br /><br />

	<table class="table table-striped">
		<tr>
			<th>@Html.DisplayNameFor(model => model.Logo)</th>
			<th>@Html.DisplayNameFor(model => model.BrandID)</th>
			<th>@Html.DisplayNameFor(model => model.BrandName)</th>
			<th>Number of Products</th>
			<th>Actions</th>
		</tr>
		@foreach(var item in Model) {
			<tr>
				<td><img src=@Html.DisplayFor(modelItem => item.Logo) alt="@item.BrandName" style="max-height: 50px;  max-width: 150px;" /></td>
				<td>@Html.DisplayFor(modelItem => item.BrandID)</td>
				<td>@Html.DisplayFor(modelItem => item.BrandName)</td>
				<td>@item.Products.Count</td>

				<td>
                    @* Html.ActionLink(Link text, Controller Action, Action parameters) *@
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { BrandID = item.BrandID }, htmlAttributes: new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { BrandID = item.BrandID }, htmlAttributes: new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { BrandID = item.BrandID }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
				</td>
			</tr>
		}

	</table>


@section scripts{
	@Scripts.Render("~/Scripts/AutoCompleteTypeSearch.js")
	<script type="text/javascript">
		$("#BrandName").on("input", typeSearch);
	</script>
}
