@model ShoppingSite.Models.SaleModel
@{
    ViewBag.Title = "Sale details";
    Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}
<h2>Sale details</h2>
<div>
    <h4>SaleModel</h4>
    <hr />

    @Html.DisplayNameFor(model => model.SaleID) :
    @Html.DisplayFor(model => model.SaleID)
    <br />
    @Html.DisplayNameFor(model => model.SaleName) :
    @Html.DisplayFor(model => model.SaleName)
    <br />
    @Html.DisplayNameFor(model => model.Discount) :
    @Html.DisplayFor(model => model.Discount)
    <br />
    @Html.DisplayNameFor(model => model.StartDate) :
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate) :
    @Html.DisplayFor(model => model.EndDate)
    <br />
    @Html.DisplayNameFor(model => model.Emblem) :
    <br />
    <img src="@Model.Emblem" alt="@Model.SaleName" width="300" />
    <br />
    Brands on sale:
    <ul>
        @foreach (var brand in Model.Brands) {
            <li>
                <label>@brand.BrandName</label>
            </li>
        }
    </ul>
</div>
@Html.ActionLink("Delete", "Delete", new { SaleID = Model.SaleID }) |
@Html.ActionLink("Edit", "Edit", new { SaleID = Model.SaleID }) |
@Html.ActionLink("Back to List", "Index")
