@model IEnumerable<ShoppingSite.Models.SaleModel>
@{
    ViewBag.Title = "Index";
    Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<div class="page-header">
    <h2>Sales Index</h2>
</div>

@using (Html.BeginForm("Search", "Sales", FormMethod.Post)) {
    <div class="form-inline">
        <div class="form-group">
            <input type="search" id="SaleName" name="SaleName" class="form-control" value="@ViewBag.SearchString" placeholder="Sale name" path="@Url.Action("TypeSearch", "Sales")" autocomplete="on" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="form-group">
            <span class="text-danger">@ViewBag.NotFoundError</span>
        </div>
    </div>
}

<br />
<div class="btn-group">
    @Html.ActionLink("Create Sale", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</div>
<br /><br />
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.SaleID)</th>
        <th>@Html.DisplayNameFor(model => model.SaleName)</th>
        <th>@Html.DisplayNameFor(model => model.Emblem)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
        <th>@Html.DisplayNameFor(model => model.Discount)</th>

        <th>Actions</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SaleID)</td>
            <td>@Html.DisplayFor(modelItem => item.SaleName)</td>
            <td><img src="@Html.DisplayFor(modelItem => item.Emblem)" alt="Logo" style="max-height: 50px;  max-width: 150px;" /></td>
            <td>@item.StartDate.ToShortDateString()</td>
            <td>@item.EndDate.ToShortDateString()</td>
            <td>@item.Discount.ToString("0")</td>

            <td>

                @* Html.ActionLink(Link text, Controller Action, Action parameters) *@
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { SaleID = item.SaleID }, htmlAttributes: new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { SaleID = item.SaleID }, htmlAttributes: new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { SaleID = item.SaleID }, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </td>
        </tr>
    }
</table>

@section scripts{
    @Scripts.Render("~/Scripts/AutoCompleteTypeSearch.js")
    <script type="text/javascript">
        $("#SaleName").on("input", typeSearch);
    </script>
}
