@model IEnumerable<ShoppingSite.Models.SaleModel>
@{
    ViewBag.Title = "Index";
    Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}
<h2>Sales Index</h2>
<h3>TODO - Bootstrap this page</h3>
@* BeginForm(string actionName, string controllerName, FormMethod method) *@
@using (Html.BeginForm("Search", "Sales", FormMethod.Post)) {
    <input type="search" name="SaleName" value="@ViewBag.SearchString" placeholder="Sale name" path="@Url.Action("TypeSearch", "Sales")" autocomplete="on" required />
    <input type="submit" value="Search" />
    if (ViewBag.NotFoundError != null) {
        <span style="background: Red;">@ViewBag.NotFoundError</span>
        <br />      }
}
@Html.ActionLink("Create Sale", "Create")
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.SaleID)</th>
        <th>@Html.DisplayNameFor(model => model.SaleName)</th>
        <th>@Html.DisplayNameFor(model => model.Emblem)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
        <th>@Html.DisplayNameFor(model => model.Discount)</th>

        <th>Actions</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SaleID)</td>
            <td>@Html.DisplayFor(modelItem => item.SaleName)</td>
            <td><img src="@Html.DisplayFor(modelItem => item.Emblem)" alt="Logo" style="max-height: 50px;  max-width: 150px;" /></td>
            <td>@item.StartDate.ToShortDateString()</td>
            <td>@item.EndDate.ToShortDateString()</td>
            <td>@Html.DisplayFor(modelItem => item.Discount)</td>

            <td>
                @* Html.ActionLink(Link text, Controller Action, Action parameters) *@
                @Html.ActionLink("Edit", "Edit", new { SaleID = item.SaleID }) |
                @Html.ActionLink("Details", "Details", new { SaleID = item.SaleID }) |
                @Html.ActionLink("Delete", "Delete", new { SaleID = item.SaleID })
            </td>
        </tr>
    }
</table>

@section scripts{
    @Scripts.Render("~/Scripts/AutoCompleteTypeSearch.js")
    <script type="text/javascript">
        $("#SaleName").on("input", typeSearch);
    </script>
}
