@model IEnumerable<ShoppingSite.Models.ProductModel>
@{
	ViewBag.Title = "Index";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<div class="col-md-12">
	<h2>Products Index</h2>
	<hr />
</div>

<div class="row">
	@using(Html.BeginForm("Search", "Products", FormMethod.Post)) {
		<div class="form-inline">
			<div class="form-group">
				<input type="search" id="ProductName" name="ProductName" class="form-control" value="@ViewBag.SearchString"
					   placeholder="@Html.DisplayNameFor(model => model.ProductName)" path="@Url.Action("TypeSearch", "Products")" autocomplete="on" required />
			</div>
			<input type="submit" value="Search" class="btn btn-default" />
			<div class="form-group">
				<span class="text-danger">@ViewBag.NotFoundError</span>
			</div>
		</div>
	}
</div>

<div class="col-md-12">
	@Html.ActionLink("Create Product", "Create")
</div>

<div class="col-md-12">
	<table class="table">
		<tr>
			<th>@Html.DisplayNameFor(model => model.CoverPath)</th>
			<th>@Html.DisplayNameFor(model => model.SKU)</th>
			<th>@Html.DisplayNameFor(model => model.ProductName)</th>
			<th>@Html.DisplayNameFor(model => model.Price)</th>
			<th>@Html.DisplayNameFor(model => model.Brand)</th>
			<th>Number of SubCategories</th>
			<th>Number of additional pictures</th>
			<th>Actions</th>
		</tr>
		@foreach(var item in Model) {
			<tr>
				<td><img src=@Html.DisplayFor(modelItem => item.CoverPath) alt="@item.ProductName" style="max-height: 50px;  max-width: 150px;" /></td>
				<td>@Html.DisplayFor(modelItem => item.SKU)</td>
				<td>@Html.DisplayFor(modelItem => item.ProductName)</td>
				<td>@Html.DisplayFor(modelItem => item.Price)</td>
				<td>@Html.DisplayFor(modelItem => item.Brand.BrandName)</td>
				<td>@item.ProductCategories.Count</td>
				<td>@item.ProductPictures.Count</td>

				<td>
					@Html.ActionLink("Edit", "Edit", new {
				   SKU = item.SKU
			   }) |
					@Html.ActionLink("Details", "Details", new {
				   SKU = item.SKU
			   }) |
					@Html.ActionLink("Delete", "Delete", new {
				   SKU = item.SKU
			   })
				</td>
			</tr>
		}

	</table>
</div>

@section scripts{
	@Scripts.Render("~/Scripts/AutoCompleteTypeSearch.js")
	<script type="text/javascript">
		$("#ProductName").on("input", typeSearch);
	</script>
}
