@model ShoppingSite.Models.SubCategoryModel

@{
	ViewBag.Title = "Delete subcategory";
	Layout = (ViewBag.LayoutFile != null) ? ViewBag.LayoutFile : Layout;
}

<h2>Delete subcategory</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>SubCategoryModel</h4>
	<hr />
	@Html.DisplayNameFor(model => model.SubCategoryName)
	@Html.DisplayFor(model => model.SubCategoryName)
	<br />
	@Html.DisplayNameFor(model => model.SubCategoryLogo)
	@Html.DisplayFor(model => model.SubCategoryLogo)
	<br />

	@using(Html.BeginForm()) {
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.SubCategoryID)
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}

	<ul>
		@foreach(var pc in Model.ParentCategories) {
			<li>
				<label>@pc.CategoryName</label>
			</li>
		}
	</ul>
</div>
